@mixin pseudo(
              $content: '',
              $type: after,
              $top: 0,
              $left: 0,
              $right: 0,
              $bottom: 0,

){
	&::#{$type}{
		content: $content;
		position: absolute;
		top: $top;
		left: $left;
		right: $right;
		bottom: $bottom;
	}
	

}