@media (min-width: 1199.98px) {
    .container {
        max-width: 1150px;
        padding: 0;
    }

    .burger {
        display: none;
    }

    .language {
        margin-right: 0;
        opacity: 1;
    }

    .header {
        &--sticky {
            .header__inner {
                padding: 17px 0;
            }
        }

        &__inner {
            padding: 27px 0;
        }
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: unset;
        position: static;
        overflow: visible;

        &__list {
            padding: 0;
            flex-direction: row;
            background: unset;
            align-items: center;
        }

        &__item {
            margin-bottom: 0;
            margin-left: 30px;
        }
    }

    .help{
        &__inner{
            padding: 150px 0 0 0;
        }
        &__content{
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__item{
            width: 46.5%;
            &:last-child .help__marked-list{
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                .marked-list__item{
                    width: 46.5%;
                }
            }
        }

    }

    .what-do {
        &__title {
            margin-bottom: 56px;
        }

        &__inner {
            padding: 150px 0;
        }

        &__marked-list {
            >* {
                width: 30%;
                margin-right: 32px;
                margin-bottom: 50px;
            }
        }
    }

    .faq {
        &__title {
            margin-bottom: 56px;
        }

        &__inner {
            padding: 150px 0;
        }
    }

    .phone {
        &.menu__item {
            margin-top: 0;
        }
    }

    .main-screen {
        height: 100vh;
        &__inner {
           padding: 100px 0 100px 0;
        }
        .marked-list__item{
            font-size: 18px;
        }
        &__title {
            font-size: 48px;
            max-width: 600px;
            line-height: 1.1;
        }

        &__sub-title {
            font-size: 24px;
            max-width: 600px;
        }

        &__marked-list {
            margin-bottom: 40px;
        }
    }

    #lottie {
        bottom: -34px;
        left: 36%;
        transform: translate3d(0px, 0px, 0px);
        max-height: 600px;
    }

    #particles-js {
        position: static;
        width: 100%;
        height: 350px;
        display: block;
        z-index: 1;
    }

    .how {
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 170px 0 0 0;
        }

        &__title {
            align-self: flex-start;
        }

        &__content {
            display: flex;
            margin-left: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1000px;
        }

        &__item {
            padding-left: 0;
            margin-bottom: 72px;
            max-width: 450px;
            &:nth-child(1){
                order: 1;
            }
            &:nth-child(2){
                order: 2;
            }
            &:nth-child(3){
                order: 4;
            }
            &:nth-child(4){
                order: 3;
            }
            &::before {
                transform: rotate(0);
                top: -70px;
                left: 0;
            }
        }

        &__decorator {
            background: url(../img/icons/how/desk.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 120%;
            height: 340px;
            left: -90px;
    		top: 137px;
            z-index: 1;
        }
        &__name{
        	font-size: 24px;
        }
        &__text{
        	font-size: 16px;
        }
    }
}

@media (min-width: 1439.98px) {
    .container {
        max-width: 1410px;
    }
    .main-screen{
        &__inner{
            padding: 121px 0 121px 0;
        }
        &__title{
            font-size: 64px;
            max-width: 800px;
        }
        &__sub-title{
            font-size: 28px;
            max-width: 800px;
        }
    }
    #lottie {
        bottom: 0px;
        left: 36%;
        transform: translate3d(0px, 0px, 0px);
        max-height: 650px;
    }
}
@media (min-width: 1599.98px) {
    .main-screen{
        &__inner{
            padding: 151px 0;
        }
        &__title{
            max-width: 900px;
        }
        &__sub-title{
            max-width: 850px;
        }
    }
}