.footer {
	background: $light;
	&__inner {
		padding: 40px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__logo{
		min-width: 153px;
		margin-bottom: 37px;
	}
	&__phone{
		margin-bottom: 10px;
	}
}