.container {
	margin: 0 auto;
	padding: 0 15px;
}
#lottie{
	z-index: 0;
	position: absolute;
	bottom: -415px;
	left: 50%;
    width:120%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0) translateX(-50%);
    text-align: center;
    opacity: 1;
}
.main-screen {
	position: relative;
	background: #E3E8EB;
	overflow: hidden;
	&__inner {
		position: relative;
		padding: 82px 0 338px 0;
		z-index: 2;
	}
	&__blured-green{
		position: absolute;
		top: 0;
		left: 0;
		max-width: 581px;
		max-height: 581px;
		user-select: none;
		z-index: 1;
	}
	&__title {
		font-family: 'Poppins Bold';
		margin-bottom: 10px;
		font-size: 36px;
		max-width: 1000px;
	}

	&__sub-title {
		font-family: 'Poppins Medium';
		margin-bottom: 20px;
		font-size: 18px;
		max-width: 900px;
	}

	&__marked-list {
		margin-bottom: 30px;
		.marked-list__item{
			font-size: 15px;
		}
	}
}

.marked-list {
	&--arrow {
		.marked-list__item{
			&::after{
				content: '';
				width: 12px;
				height: 8px;
				background: url(../img/icons/mark.svg) no-repeat;
				background-size: contain;
				position: absolute;
				top: 7px;
				left: 0;
			}
		}
	}

	&--dot {
		.marked-list__item{
			&::after{
				content: '';
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: $secondary;
				position: absolute;
				top: 9px;
				left: 0;
			}
		}
	}

	&--shift-to-right {
		padding-left: 15px;
	}

	&__item {
		position: relative;
		color: $dark;
		font-size: 14px;
		line-height: 1.5;
		padding-left: 20px;
		margin-bottom: 20px;
	}
}

.button {
	position: relative;
	font-family: 'Poppins Medium';
	padding: 15px 46px;
	background: #1CB9DC;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	border-radius: 50px;
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 50px;
		box-shadow:inset 0 0 50px rgba(34, 56, 83, 0.5);
		transition: opacity 350ms ease-in-out;
		opacity: 0;
	}
	&:active::before{
		opacity: 1;
	}
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 50px;
		box-shadow: 10px 10px 50px rgba(28, 185, 220, 0.5);
		transition: opacity 350ms ease-in-out;
	}
	&:hover::after{
		opacity: 0;
	}
}

.help {
	position: relative;

	&__inner {
		position: relative;
		z-index: 2;
		padding: 70px 0;
		
	}

	&__title {
		margin-bottom: 40px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	&__item {
		margin-bottom: 40px;
	}

	&__head {}

	&__img {
		max-width: 60px;
		margin-bottom: 20px;
	}

	&__name {
		font-family: 'Poppins Bold';
		font-size: 18px;
		margin-bottom: 20px;
	}

	&__body {}

	&__marked-list {
		margin-bottom: 20px;
	}

	&__text {
		font-size: 14px;
		margin-bottom: 20px;
	}
}

.title {
	font-family: 'Poppins Bold';
	font-size: 24px;
	line-height: 1.5;
}

.how {
	&__inner {
		padding: 70px 0 120px 0; 
	}

	&__title {
		margin-bottom: 132px;
	}

	&__content {
		position: relative;
		z-index: 2;
		margin-left: 38px;
	}

	&__item {
		position: relative;
		z-index: 2;
		padding-left: 11px;
		margin-bottom: 50px;
		&:nth-child(1){
			&::before{
				content: '01';
			}
		}
		&:nth-child(2){
			&::before{
				content: '02';
			}
		}
		&:nth-child(3){
			&::before{
				content: '03';
			}
		}
		&:nth-child(4){
			&::before{
				content: '04';
			}
		}
		&::before{
			position: absolute;
			top: -7px;
    		left: -46px;
			font-family: 'Poppins Bold';
			font-size: 48px;
			color: #C9E7ED;
			transform: rotate(-90deg);
			z-index: 1;
		}
	}

	&__name {
		font-family: 'Poppins Bold';
		font-size: 18px;
		margin-bottom: 13px;
	}

	&__text {
		font-size: 14px;
		margin-bottom: 15px;
	}

	&__marked-list {
		margin-bottom: 15px;
	}
	&__decorator{
		z-index: 1;
		position: absolute;
		background: url(../img/icons/how/mob.svg);
		background-size: contain;
		background-repeat: no-repeat;
		width: 31px;
		height: 110%;
		left: -27px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.what-do {
	background: $light-g;
	position: relative;
	&__green-blured{
		position: absolute;
		
		z-index: 1;
		user-select: none;
		&--top-left{
			top: 0;
			left: 0;
			max-width: 581px;
			max-height: 581px;
		}
		&--bottom-right{
			right: 0;
			bottom: 0;
			max-width: 287px;
			max-height: 287px;
		}
	}
	&__inner {
		position: relative;
		padding: 70px 0;
		z-index: 2;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__marked-list {
	}

}
.testimonials {
	padding: 62px 0 20px 0;
	&__inner {
	}

	&__title {
		margin-bottom: 28px;
	}

	&__swiper {
		width: 100%;
		height: 100%;
		// max-width: 1920px;
	}

	&__swiper-body {}
	&__buttons{
		display: none;
	}
	&__item {
		padding: 0 15px;
		&.swiper-slide-next{
			.testimonials__people{
				transform: translateX(-50%);
				opacity: .5;
			}
		}
	}

	&__people{
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
	}
	&__img{
		max-width: 63px;
		border-radius: 50%;
		margin-right: 9px;
	}
	&__about{

	}
	&__name {
		font-family: 'Poppins Bold';
		font-size: 17px;
	}

	&__company {
		font-size: 16px;
	}

	&__stage {
		font-family: 'Poppins Bold';
		font-size: 16px;
		margin-bottom: 10px;
	}

	&__text {
		font-size: 14px;
		margin-bottom: 20px;
	}

	&__player {
		margin-bottom: 30px;
	}

	&__result {}

	&__result-title {
		font-family: 'Poppins Bold';
		font-size: 18px;
		margin-bottom: 8px;
	}

	&__result-item {
		font-size: 16px;
		margin-bottom: 10px;
		b{
			font-family: 'Poppins Bold';
		}
	}
}

.swiper-container {}

.swiper-wrapper {}

.faq {
	&__inner {
		padding: 50px 0;
		max-width: 690px;
		margin: 0 auto;
	}

	&__title {
		margin-bottom: 10px;
	}

	&__content {}

	&__item {
		padding: 20px 0 0 0;
		&:not(:last-child){
			border-bottom: 1px solid $light;
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-bottom: 20px;
		&--active{
			.faq__name{
				font-family: 'Poppins Medium';
			}
			.faq__mark{
				transform: rotate(0);
			}
		}
	}
	&__mark{
		max-width: 30px;
		transform: rotate(-90deg);
		transition: transform 350ms ease-in-out;
	}
	&__name {
		text-align: left;
		color: $dark;
		font-size: 16px;
		line-height: 1.5;
	}

	&__body {
		height: 100%;
		max-height: 0;
		overflow: hidden;
		transition: max-height 350ms ease-in-out;
	}

	&__text {
		color: $dark;
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 20px;
		a{
			color: $secondary;
		}
	}
}

#particles-js{
	display: none;
}
.callback {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 20;
	opacity: 0;
	transition: opacity 350ms ease-in-out;
	&--active{
		visibility: visible;
		opacity: 1;
	}
	&--close{
		opacity: 0;
	}
	&__inner {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 20;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__bg {
		display: none;
	}
	&__form {
		position: relative;
		z-index: 21;
		width: 100%;
		height: 100%;
		padding: 0 15px;
		background: #fff;
	}
	&__form-inner{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
	&__title {
		font-family: 'Poppins Bold';
		font-size: 24px;
		margin-bottom: 14px;
	}
	&__lang{
		position: relative;
		width: 44px;
		height: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: 8px;
		cursor: pointer;
		&::after{
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 11px;
			height: 4px;
			background: url(../img/icons/arrow-down.svg);
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	&__flag{
		width: 23px;
	}
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}
	&__input-box {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 16px 40px;
		margin-bottom: 11px;
		border-radius: 50px;
		border: 1px solid #C9C9C9;
	}
	&__input {
		font-size: 14px;
		color: #8E8E8E;
		width: 170px;
	}
	&__btn {
	}
}
.choose-lang{
	visibility: hidden;
	position: absolute;
	z-index: 20;
	top: 105%;
	left: 0;
	padding: 20px;
	border-radius: 25px;
	background: #fff;
	box-shadow: 0px 10px 50px rgba(43, 93, 104, 0.15);
	opacity: 0;
	transition: opacity 350ms ease-in-out;
	&--active{
		visibility: visible;
		opacity: 1;
	}
	&--close{
		opacity: 0;
	}
	&__item{
		margin-bottom: 5px;
		cursor: pointer;
		padding: 3px 8px;
		border-radius: 5px;
		transition: background 200ms ease-in-out;
		display: flex;
		align-items: center;
		.callback__flag{
			margin-right: 5px;
		}
		&:hover{
			background: #e3e3e3;
		}
	}
}
.burger-callback {
	position: absolute;
	right: 15px;
	top: 13px;
	width: 14px;
	height: 14px;
	cursor: pointer;
	&__inner {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__item {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 14px;
		height: 2px;
		background: #223853;
		&:nth-child(1){
			transform: translate(-50%,-50%) rotate(45deg);
		}
		&:nth-child(2){
			transform: translate(-50%,-50%) rotate(-45deg);
		}
	}
}
